[Unit]
Description=Greenboot Health Checks Runner
Before=boot-complete.target
OnFailureJobMode=fail
RequiresMountsFor=/boot
RequiresMountsFor=/etc

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/libexec/greenboot/greenboot health-check
Restart=no
PrivateMounts=yes

[Install]
RequiredBy=boot-complete.target
WantedBy=multi-user.target
Also=greenboot-success.target greenboot-set-rollback-trigger.service
