[Unit]
Description=Greenboot Rollback Mechanism
After=systemd-update-done.service greenboot-healthcheck.service
OnFailureJobMode=fail
Requisite=systemd-update-done.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/libexec/greenboot/greenboot rollback
Restart=no